target/META-INF/mule-src/demo_java_invoke/src/main/mule/demo_java_invoke.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dc213e61-d504-46ad-acb7-80142dda750c" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="demo_java_invokeFlow" doc:id="f32ed6be-3199-4d2b-900a-9ffebac45da2" >
		<http:listener doc:name="Listener" doc:id="bfe43a18-39c2-4d30-ab96-a1b497d269d2" config-ref="HTTP_Listener_config" path="/java-static"/>
		<java:invoke-static doc:name="Invoke static" doc:id="6dc6126f-fa42-469f-944c-a4e5f4cfefc3" class="demo_java_invoke.StringOpearation" method="concat(java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	a: attributes.queryParams.FirstName as String,
	b: attributes.queryParams.LastName as String
}]]]></java:args>
		</java:invoke-static>
	</flow>
	<flow name="demo_java_invokeFlow1" doc:id="edcc48fc-3e73-4be8-ba31-a16a419ad670" >
		<http:listener doc:name="Listener" doc:id="a175d6a5-84bb-4f87-959c-62499937d285" config-ref="HTTP_Listener_config" path="/demo-nonStatic"/>
		<java:new constructor="StringOpearation()" doc:name="New" doc:id="c4ae71c8-b1c8-42e8-8058-ded513c5166c" class="demo_java_invoke.StringOpearation" target="str_obj"/>
		<java:invoke method="palindriome(java.lang.String)" doc:name="Invoke" doc:id="ac297f03-48c3-4993-842c-c8e1b1d02b31" instance="#[vars.str_obj]" class="demo_java_invoke.StringOpearation">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	org: attributes.queryParams.checkString as String
}]]]></java:args>
		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="b097346b-d2fc-423c-9f58-21d22ccf9a8c" message="#[payload]"/>
	</flow>
</mule>
